{
  "env": {
    "development": {
      "presets": [ [ "@babel/preset-env", { "modules": "commonjs" } ] ]
    },
    "buildmodule": {
      "presets": [ [ "@babel/preset-env", { "modules": false, "useBuiltIns": "usage" } ] ]
    }
  }
}
