{
  "env": {
    "development": {
      "presets": [ "es2015" ],
      "plugins": [ "transform-runtime", "transform-object-rest-spread" ]
    },
    "buildmodule": {
      "presets": [ "es2015-rollup" ],
      "plugins": [ "transform-runtime", "transform-object-rest-spread" ]
    }
  }
}
